<div class="profilepic">
  <script src="<%- config.root %>js/md5.js"></script>
  <script type="text/javascript">
    $(function(){
	$('.profilepic').append(
          "<img src='http://www.gravatar.com/avatar/"
          + MD5("<%- config.email %>")
          + "?s=160' alt='Profile Picture' style='width: 160px;' />");
    });
  </script>
</div><!-- profilepic -->
<h1><a href="<%- config.root %>"><%= config.author %></a></h1>
<nav id="main-nav">
  <% if(config.subtitle) { %>
  <section class="subtitle">
    <p>
      <%= config.subtitle %>
    </p>
  </section>
  <% } %>
  <% if(config.description) { %>
  <section class="aboutme">
    <p>
      <%= config.description %>
    </p>
  </section>
  <% } %>
  <ul class="main">
    <% for (var i in theme.menu.page) { %>
      <li>
      <a href="<%- config.root %><%- theme.menu.page[i] %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav><!-- main-nav -->
<nav id="sub-nav">
  <div class="social">
   <% if(theme.social.weibo) { %>
      <a class="weibo" href="http://weibo.com/<%- theme.weibo.username %>"
         title="Weibo">Weibo</a>
    <% } %>
    <% if(theme.social.gplus) { %>
      <a class="google" href="http://plus.google.com/<%- theme.gplus.username %>"
         title="Google+">Google+</a>
    <% } %>
    <% if(theme.social.twitter) { %>
      <a class="twitter" href="http://twitter.com/<%- theme.twitter.username %>"
         title="Twitter">Twitter</a>
    <% } %>
    <% if(theme.social.github) { %>
      <a class="github" href="http://github.com/<%- theme.github.username %>"
         title="Github">Github</a>
    <% } %>
    <% if(theme.social.dribbble) { %>
      <a class="dribbble" href="http://dribbble.com/<%- theme.dribbble.username %>"
         title="Dribble">Dribbble</a>
    <% } %>
    <% if(theme.social.pixiv) { %>
      <a class="pixiv" href="http://www.pixiv.net/member.php?id=<%- theme.pixiv.userid %>"
         title="Pixiv">Pixiv</a>
    <% } %>
    <% if(theme.social.rss) { %>
        <a class="rss" href="<%- config.root%>atom.xml" title="RSS">RSS</a>
    <% } %>
  </div>
</nav><!-- sub-nav -->
<nav id="widget-nav">
  <div class="widgets">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('../_widget/' + widget) %>
    <% }); %>
  </div>
</nav><!-- widget-nav -->
